SPRING_APPLICATION_NAME=Labo3Hyrule
SERVER_PORT=8080

HYRULE_DB_HOST=db
HYRULE_DB_PORT=5432
HYRULE_DB_NAME=labo3hyrule_db
HYRULE_DB_USER=hyrule_user
HYRULE_DB_PASSWORD=change_me

SPRING_JPA_SHOW_SQL=false
SPRING_JPA_HIBERNATE_DDL_AUTO=update